.input-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 2rem;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Align vertically */
}

.customer-id-input {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    width: 500px; /* Keep width consistent */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add soft shadow for depth */
    color: black;
}

.customer-id-input:focus {
    border-color: #b59064; /* Replace blue with new color */
    box-shadow: 0 0 6px rgba(181, 144, 100, 0.5); /* New color glow on focus */
    color: black;
}

.button {
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #b59064; /* New color */
    color: #fff;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add button shadow for depth */
}

.button:hover {
    background-color: #a3784c; /* Darker shade of new color on hover */
    transform: translateY(-2px); /* Slight lift effect on hover */
}

.button:active {
    background-color: #8f6640; /* Even darker shade of new color on click */
    transform: translateY(0); /* Return to original position on click */
}

.input-field {
    width: 300px; /* Adjust width */
    padding: 5px; /* Padding of 5px from all sides */
    font-size: 16px;
    border: 1px solid #ccc; /* Light border for clean look */
    border-radius: 5px; /* Rounded corners */
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    background-color: white;
    color: black;
}


.input-field:focus {
    border-color: #b59064; /* Replace blue with new color */
    box-shadow: 0 0 8px rgba(181, 144, 100, 0.3); /* New color glow on focus */
    background-color: white;
}
